:root {
    --container-bg: #fff;
    --section-bg: #ddd;
    --text-color: #222;
    --link-color: #222;
}
@media (prefers-color-scheme: dark) {
    :root {
        --container-bg: #222;
        --section-bg: #333;
        --text-color: #fff;
        --link-color: #fff;
    }
}

body {
    margin: 0;
    white-space: nowrap;
    background: var(--container-bg);
    color: var(--text-color);
    display: inline-block;
}

a {
    color: var(--link-color);
}

ul {
    padding-left: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.container__row {
    display: flex;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: var(--section-bg);
    margin: 4px;
    flex: 1 1 auto;
    border-radius: 2px;
}

.section__title {
    margin: 0 0 8px 0;
    flex: 0 0 auto;
}

.section__content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 0 16px;
}

.section__content--horizontal {
    flex-direction: row;
}

.section__row {
    flex: 0 0 auto;
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.section__row input {
    margin: 0;
}

.section__row > *:first-child {
    margin-right: 8px;
}

.teamSetup--invalid textarea {
    border: 1px solid red;
}

.teamSetup--invalid .teamSetup__warn {
    display: block;
}

.teamSetup__warn {
    display: none;
    color: red;
}